@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap");

body {
  min-width: 100vw;
  min-height: 100vh;
  background-position: center;
}

body {
  overflow: hidden;
}

.bg-mothersday {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Bildschirmfoto 2019-10-30 um 23.33.17.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
nav a {
  color: white;
  line-height: 2.2rem;
  margin-bottom: 40px;
  max-width: 240px;
  text-align: center;
}
nav a:hover {
  text-decoration: none;
  color: white;
  cursor: url("../img/target.png") 50 50, pointer;
}
nav * {
  position: relative;
  z-index: 100;
}
nav .nav__bg {
  position: absolute;
  top: 0;
  right: -10%;
  height: 100vh;
  width: 50%;
  background-color: white;
  transform: skewX(-6deg);
  z-index: 2;
}
nav .nav__bg-black {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  position: relative;
  transform: skewX(-2deg);
  left: 3%;
}
nav .nav__page-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #f123c9;
  opacity: 0.9;
  z-index: 1;
}
nav .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 36%;
  height: 100%;
  text-align: right;
  font-family: "Bowlby One SC", cursive;
  color: white;
  font-size: 2.8rem;
  text-shadow: 6px 6px 0px black, -6px -6px 0px black, -6px 6px 0px black, 6px -6px 0px black, 6px 0px 0px black, -6px 0px 0px black;
}
@media (max-width: 575px) {
  nav .items {
    margin-right: 15%;
  }
}
nav .items a:first-of-type {
  right: 40px;
}
nav .items a:nth-of-type(2) {
  right: -8px;
}
nav .items a:nth-of-type(3) {
  right: 56px;
}
nav .items a:nth-of-type(4) {
  right: 72px;
}
nav .items a:nth-of-type(5) {
  right: -13px;
}
nav .items a:nth-of-type(6) {
  right: 40px;
}
nav .menu-active-bg {
  position: absolute;
  overflow: visible;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0.9;
  width: 399px;
  height: 133px;
  background-image: url("../img/menu/wiggle_399_133.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: wiggler 0.5s infinite steps(17);
}
@keyframes wiggler {
  to {
    background-position: 100% 0;
  }
}
nav .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url("../img/menu/burger.png");
  background-repeat: no-repeat;
  background-size: 900px 50px;
  background-position: bottom right;
}
nav .close-menu {
  animation: close_menu 0.8s forwards steps(17);
}
nav .open-menu {
  animation: open_menu 0.8s forwards steps(17);
}
@keyframes close_menu {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes open_menu {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}
nav .nav-content {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-center-img {
  width: 130px;
  height: 130px;
  transform-origin: 50% 100%;
  animation: wiggle_rotation 0.6s infinite steps(2);
}
@keyframes wiggle_rotation {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/*# sourceMappingURL=style.css.map */
