.chat-container {
  position: fixed;
  //overflow: hidden;
  height: 107vh;
  width: 50vw;
  bottom: 0;
  left: 200px;
  display: flex;
  //background: url('../dist/assets/img/dialog/mobile-frame.png') center center/contain no-repeat;
  //background-size: contain;
  z-index: 500;
  @include xs {
    left: 0;
    width: 100vw;
  }
  @include sm {
    width: 80vw;
    left: 0;
  }
  @include lg {
    width: 50vw;
    left: 200px;
  }
}

.mobile-frame {
  pointer-events: none;
  position: relative;
  bottom: -7px;
  width: 100%;
  height: 100%;
  @include xs {
    display: none;
  }
}

.chat-screen {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 10%;
  width: 79%;
  height: 86%;
  background-color: $pink;
  z-index: -1;
  @include xs {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.chat-content {
  position: absolute;
  top: 0;
  left: 0;
  @include xs {
    left: -30px;
  }
}
.chat-answer {
  position: relative;
  min-width: 310px;
  min-height: 200px;
  padding: 45px 48px 28px 55px;
  line-height: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
}

.avatar-reverse {
  left: -60px;
  @include xs {
    left: -135px;
  }
}

.avatar-reverse .message-text p {
  padding-right: 70px;
  padding-left: 20px;
  left: auto;
}

.avatar-img * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  transform-origin: 50% 80%;
}

.avatar-img {
  position: relative;
  width: 100px;
  height: auto;
  flex: 0 0 100px;
}
.message-text {
  position: relative;
  flex: 1 1 auto;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-text .shape-parent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.message-text p {
  position: relative;
  left: 60px;
  top: 5px;
  padding-right: 70px;
}

//.avatar-img {
//  transform-origin: 50% 80%;
//}

.chat-answer {
  //position: relative;
}

.answer-bubble {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.chat-answer .dialog-choice {
  color: black;
  cursor: pointer;
  padding: 5px 4px;
  height: auto;
  margin-bottom: 10px;
}

.chat-answer .dialog-choice polygon {
  display: none;
  fill: #5bd7ff;
}

.answer-p {
  position: relative;
  color: black;
  margin-bottom: 0;
  z-index: 10;
}

.chat-answer .dialog-choice:hover {
  polygon {
    display: block;
  }
  .answer-p {
    color: white;
  }
}


.answer-out {
  position: relative;
  bottom: 15px;
  right: 10px;
  padding: 10px 80px 1px 21px;
}

.dots-container {
  position: absolute;
  width: 60px;
  //height: 40px;
  //background: gray;
  bottom: -50px;
  left: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  //padding: 0 35px;
}

.dots-single {
  height: 8px;
  //opacity: 0;
}

.dots-single circle {
  //fill: red;
}

// !!!!!!!!!!!!!!!!!!!!!!GANZ DRINGEND LÖSCHEN!!!!!!!!!!!!!!!!!!!!!!
//#chat-path {
//position: relative;
//left: 100px;
////top: 200px;
//}
