.contact-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.calling-card {
  position: relative;
  background-image: url("../html/assets/img/contact/contact-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 158vh;
  padding: 7% 10% 8% 7%;
  @include md {
    padding-right: 15%;
  }
  @include lg {
    width: 800px;
    height: 563px;
    padding: 60px 110px 60px 60px;
  }
  @include xs {
    background-size: cover;
    background-position: center;
    padding: 90px 20px;
  }

  //width: 80%;
  //padding-top: 63%;
  //max-height: 100%;
}

.calling-card-error-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../html/assets/img/contact/contact-background-clean.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.calling-card__headline {
  background-image: url("../html/assets/img/contact/spucks-aus.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
}

.calling-card__content {
  //position: absolute;
  top: 0;
  left: 0;
}

.contact-form {
  display: flex;
  @include xs {
    flex-direction: column;
  }
}

.input-container {
  flex: 1 1 auto;
  padding: 0 50px 0 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12pt;
}

.contact-form input {
  height: 40px;
}

.contact-form textarea {
  height: 150px;
}

.wrap-input {
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
}

.form-btn {
  align-self: flex-end;
}

.contact-submit {
  background: url("../html/assets/img/contact/los.png") no-repeat center;
  background-size: contain;
  color: transparent;
  width: 100px!important;
  height: 60px!important;
  &:hover {
    color: transparent;
  }
}

.scooter.scooter.scooter {
  width: 300px;
  transform-origin: 60% 50%;
}

.letter-path {
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.error-content {
  display: none;
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.error-text {
  padding-top: 80px;
  align-self: center;
}

.validation-error {
  position: absolute;
  bottom: -30px;
  background: #f1235c;
  color: white;
  padding: 4px 10px;
  width: 100%;
  font-size: 15pt;
  z-index: 1;
}
