/* Error: Undefined variable.
 *    ,
 * 83 |   font-family: $cartoon;
 *    |                ^^^^^^^^
 *    '
 *   dialog.scss 83:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 83 \2502    font-family: $cartoon;\a    \2502                 ^^^^^^^^\a    \2575 \a   dialog.scss 83:16  root stylesheet";
}
