#scene {
  position: fixed;
  z-index: 500;
}

.persona-background {
  position: relative;
}

.persona-background-fill {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
}

.bg-flash {
  padding-left: 100px;
}

.dialog-container {
  position: fixed;
  width: 100vw;
  height: 300px;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 500;

}
.dialog-container * {
  pointer-events: none;
}

.dialog-container a {
  pointer-events: initial;
}



.dialog-image {
  align-self: flex-end;
  max-height: 100%;
  transform-origin: 0 100%;
  flex: 0 1 300px;
  @include xs {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -90px;
  }
}
.dialog-container img {
  width: 130%;
  position: relative;
  left: -15%;
}

.speech-bubble {
  //background-image: url('../dist/assets/img/dialog/speech-bubble.png');
  width: 800px;
  height: 240px;
  align-self: flex-end;
  position: relative;
  bottom: -20px;
  left: -50px;
  padding: 80px 110px 80px 220px;
  color: white;
  //background-position: 0 0;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  font-family: $cartoon;
  font-size: 1.5rem;
  @include xs {
    width: 390px;
    position: absolute;
    right: 0;
    left: auto;
    /* align-self: flex-end; */
    padding: 80px 30px 80px 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
  }
  //box-sizing: border-box;
  //animation: speech-bubble .5s infinite steps(9);
}

.speech-bubble p {
  margin-bottom: 0;
  font-family: $roboto;
  font-size: 15pt;
  letter-spacing: -0.05rem;
  @include xs {
    //padding: 80px 70px 80px 130px;
    font-size: 12px;
  }
}

.speech-bubble-dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: visible;
}

.speech-bubble-svg {
  width: 800px;
  height: 240px;
}

@keyframes speech-bubble {
  to { background-position: 100% 0; }
}

//.answer-container {
//  position: fixed;
//  top: 0;
//  left: 0;
//  height: 100vh;
//  width: 100vw;
//  z-index: 1000;
//}
.answer-container {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.answer-bg {
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 45vw;
  //background-color: #46484c;
  z-index: 1000;
  @include xs {
    position: fixed;
    right: 0;
    width: 65vw;
  }
}

.answer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: rgba(0, 0, 0, 0.6);
}

.answer-flash {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  overflow: visible;
  height: 100vh;
  width: auto;
}

.answer-user {
  position: absolute;
  width: 130%;
  bottom: 0;
  right: -40%;
  max-height: 540px;
  object-fit: contain;
  transform-origin: 50% 100%;
  z-index: 1001;
  @include md {
    width: 100%;
    right: -10%;
  }
  @include xs {
    width: auto;
    height: 460px;
    right: -30%;
  }
}

.answer-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  position: relative;
  right: -120px;
  margin: 0;
  height: 100%;
  font-size: 1.3rem;
  z-index: 1002;
  @include xs {
    position: absolute;
    left: 0;
    right: auto;
    font-size: 12pt;
  }
}

.answer-choice {
  position: absolute;
  top: -75%;
  left: 0;
  width: 100%;
  height: 300%;
  color: white;
  z-index: -1;
  .back {
    fill: white;
  }
  .front {
    fill: black;
  }
}

.answer-choice:hover polygon {
  left: -40px;
  color: black;
  .back {
    fill: black;
  }
  .front {
    fill: white;
  }
}

.answer-choice.back {
  fill: white;
}

.dialog-choice {
  pointer-events: none;
  position: relative;
  align-self: flex-end;
  color: white;
  height: 45px;
  margin-bottom: -10px;
}

.dialog-choice * {
  pointer-events: none;
}

.dialog-name {
  position: absolute;
  font-family: $roboto;
  font-size: 14pt;
  top: 40px;
  left: 120px;
  transform-origin: bottom left;
  transform: rotate(-10deg);
  width: 200px;
  height: 40px;
}
.dialog-name__inner {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  color: black;
  top: 2px;
  right: 35px;
  width: 110px;
  z-index: 1;
}



.dialog-name .invert {
  position: relative;
  color: white;
  display: inline-block;
  margin: 0 3px;
}

.dialog-name .regular {
  display: inline-block;
}

.dialog-text {
  padding: 0 160px 0 90px;
  @include xs {
    padding: 10px 70px 10px 40px;
  }
}

.dialog-button {
  display: flex;
  justify-content: space-around;
}

.dialog-inner {
  pointer-events: initial;
  transform-origin: 100% 80%;
  cursor: pointer;
}

.dialog-choice:first-of-type .dialog-inner {
  transform: rotate(6deg);
}
.dialog-choice:nth-of-type(2) .dialog-inner {
  transform: rotate(0);
}
.dialog-choice:nth-of-type(3) .dialog-inner {
  transform: rotate(-6deg);
}

.dialog-inner:hover {
  color: black;
}

.dialog-inner:hover svg polygon:first-of-type {
  fill: black;
}
.dialog-inner:hover svg polygon:nth-of-type(2) {
  fill: white;
}

#test-shape {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.svg-parent {
  position: relative;
}
.svg-parent * {
  position: absolute;
}

.answer-arrow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.flash {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.flash-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.flash-speech-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 200px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.flash-speech {
  width: 400px;
  height: 150px;
}

.flash-text {
  position: absolute;
  color: white;
  padding: 3px 10px;
  font-family: $roboto;
  font-size: 15pt;
  letter-spacing: -0.05rem;
  width: 400px;
}

.top-8 {
  top: 8px!important;
}
