nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 1000;

  a {
    color: white;
    line-height: 2.2rem;
    margin-bottom: 40px;
    max-width: 240px;
    text-align: center;
    pointer-events: initial;
    &:hover {
      text-decoration: none;
      color: white;
      //cursor: url("../html/assets/img/target.png") 50 50, pointer;
    }
  }

  * {
    position: relative;
    z-index: 100;
  }

  .nav__bg {
    position: absolute;
    top: 0;
    right: -10%;
    height: 100vh;
    width: 50%;
    background-color: white;
    transform: skewX(-6deg);
    z-index: 2;
    //&:after {
    //  content: '';
    //  position: relative;
    //  display: block;
    //  right: 20px;
    //  width: 100%;
    //  height: 100%;
    //  background-color: red;
    //}
  }
  .nav__bg-black {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    position: relative;
    transform: skewX(-2deg);
    left: 3%;
  }

  .nav__page-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $pink;
    opacity: .9;
    z-index: 1;
  }
  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 36%;
    height: 100%;
    text-align: right;
    font-family: $cartoon;
    font-weight: bold;
    color: white;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-shadow: 6px 6px 0px black,
    -6px -6px 0px black,
    -6px 6px 0px black,
    6px -6px 0px black,
    6px 0px 0px black,
    -6px 0px 0px black,
    0px -6px 0px black,
    0px 6px 0px black;
    @include xs {
      margin-right: 15%;
    }
  }
  .items a:first-of-type {
    right: 40px;
  }
  .items a:nth-of-type(2) {
    right: -8px;
  }
  .items a:nth-of-type(3) {
    right: 56px;
  }
  .items a:nth-of-type(4) {
    right: 72px;
  }
  .items a:nth-of-type(5) {
    right: -13px;
  }
  .items a:nth-of-type(6) {
    right: 40px;
  }

  .menu-active-bg {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: .9;
    width: 399px;
    height: 133px;
    background-image: url("../html/assets/img/menu/wiggle_399_133.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: wiggler .5s infinite steps(17);
  }
  
  @keyframes wiggler {
    to { background-position: 100% 0;}
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url('../html/assets/img/menu/burger.png');
    background-repeat: no-repeat;
    background-size: 900px 50px;
    background-position: bottom right;
  }

  .close-menu {
    //background-position: bottom left;
    animation: close_menu .8s forwards steps(17);
  }

  .open-menu {
    //background-position: bottom left;
    animation: open_menu .8s forwards steps(17);
  }


  @keyframes close_menu {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  @keyframes open_menu {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
  }

  .nav-content {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-center-img {
    width: 180px;
    height: 180px;
    transform-origin: 50% 100%;
    animation: wiggle_rotation .6s infinite steps(2);
  }
  
  @keyframes wiggle_rotation {
    0% { transform: rotate(6deg)}
    100% { transform: rotate(-5deg)}
  }
}

#toggle-menu {
  pointer-events: initial;
}

