.portfolio-container {
  position: relative;
  height: 100vh;
  width: 120vh;
  margin: 0 auto;
}

.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 7% 9% 6% 5%;
  @include xs {
    padding: 0;
  }
}

.portfolio-frame {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.portfolio__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../img/portfolio/iPad-background.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

.portfolio__apps {
  position: relative;
  display: flex;
  padding: 30px 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  @include xs {
    padding-top: 120px;
  }
}

.app {
  position: relative;
  flex: 0 1 150px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include xs {
    flex: 1 1 110px;
  }
}

.app-image {
  width: 100%;
  min-height: 100px;
  object-fit: contain;
}

.app-name {
  color: white;
  width: 100%;
  left: 0;
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.iPad {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 100;
  @include xs {
    display: none;
  }
}


.portrait-mode {
  .portfolio-container {
    width: 83vh;
  }
  iPad {
    transform: rotate(90deg);
  }
}

.image-preview {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 10px 0 30px;
  justify-content: space-between;
}

.image-preview__img {
  position: relative;
  align-self: flex-start;
  flex: 0 0 80px;
  margin: 8px;
  overflow: hidden;
  transition: transform .5s ease-out;
}

.image-preview__img:hover {
  //transform: scale(1.1);
  img {
    transform: translateX(-50%) scale(1.05);;
    filter: grayscale(0);
  }
}

.image-preview__img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  filter: grayscale(1);
  transition: all .5s ease-out;
}

.home-button {
  cursor: pointer;
  position: absolute;
  right: 4%;
  top: 46%;
  height: 8%;
  width: 5.5%;
  border-radius: 50%;
  z-index: 101;
}

.full-screen-image {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.image-full {
  position: relative;
  display: inline-block;
  height: 100%;
  z-index: 500;
}

//.image-full img {
//  position: relative;
//  height: 100%;
//  z-index: 200;
//}

.full-img-bg {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.86);
  z-index: 100;
}

.close-button {
  position: absolute;
  right: 100px;
  top: 20px;
  z-index: 600;
  @include xs {
    left: 20px;
    right: auto;
  }
}

.ui-icon {
  width: 30px;
}

.arrow-button,
.arrow-left-button {
  position: absolute;
  top: calc(50% - 65px);
  height: 200px;
  width: 80px;
  display: flex;
  justify-content: center;
  z-index: 600;
}

.arrow-button {
  right: 100px;
  @include xs {
    right: 0;
  }
}

.arrow-left-button {
  left: 100px;
  @include xs {
    left: 0;
  }
}

.arrow-left-button .ui-icon {
  transform: scaleX(-1);
}

.dom-image {
  width: 100%;
  height: 120px;
  background-color: white
}

#portfolio-full {
  display: flex;
}
.portfolio-full {
  position: relative;
  height: 100%;
  //max-width: 100%;
  object-fit: contain;
  z-index: 200;
  @include xs {
    width: 100%;
  }
}

.portfolio-full-image {
  //position: absolute;
  height: 100%;
  width: auto;
  z-index: 500;
  @include xs {
    width: 100vw;
  }
}

.portrait-mode {
  .portfolio-container {
    width: 100vw;
  }
}
