.shape-parent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.persona-button {
  position: relative;
  z-index: 1;
}

.persona-button input {
  margin-bottom: 0;
}




//.white-to-black polygon {
//  display: none;
//  fill: black;
//  //&:hover {
//  //  fill: black;
//  //}
//}
//
//.dialog-choice:hover polygon {
//  display: block;
//  fill: black;
//}
