@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Titillium+Web:900&display=swap" rel="stylesheet');

$cartoon: 'Titillium Web', sans-serif;
$roboto: 'Roboto Mono', monospace;
$pink: #f123c9;

@import "variables.scss";
@import "mixins.scss";
//@import "main.css";
//@import "normalize.css";
@import "theme.scss";
@import "menu.scss";
@import "dialog.scss";
@import "chat.scss";
@import "shape.scss";
@import "portfolio.scss";
@import "contact.scss";


.z-1 {
  z-index: 1;
}
