@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Titillium+Web:900&display=swap" rel="stylesheet');
body {
  min-width: 100vw;
  min-height: 100vh;
  background-position: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.hidden {
  visibility: hidden;
}

.overflow-visible {
  overflow: visible;
}

.pink {
  background-color: #f123c9;
}

#content {
  width: 100%;
  min-height: 100%;
}

section {
  width: 100vw;
}

.full-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mirror {
  transform: scaleX(-1);
}

.bg-mothersday {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/mothersday.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.path {
  position: absolute;
  top: 0;
  right: 0;
}

.background-svg {
  position: absolute;
  overflow: visible;
  top: 0;
  right: 0;
  z-index: -1;
}

.path-image {
  position: absolute;
  top: 0;
  right: 100px;
}

.path-image img {
  height: 400px;
  max-width: 100%;
  max-height: 90vh;
}

.bg-image {
  position: absolute;
  top: -6%;
  left: -9%;
  width: 117%;
  height: 112%;
  background-color: white;
  z-index: -1;
  transform: skew(-1deg, -3deg) rotate(1deg);
}

.bg-image:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 3%;
  width: 94%;
  height: 96%;
  /* display: table-cell; */
  background-color: black;
  z-index: -2;
  transform: skew(2deg, 4deg);
}

.path-image__content {
  opacity: 0;
  transform: scale(0.3);
  filter: contrast(3);
}

.path-image.in .path-image__content {
  animation: image-in 0.5s forwards cubic-bezier(0.29, 1.43, 0.6, 0.96);
}

@keyframes image-in {
  to {
    opacity: 1;
    transform: scale(1);
    filter: contrast(1);
  }
}
.persona {
  position: relative;
  align-self: flex-start;
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  display: inline-flex;
  text-transform: uppercase;
  color: #fff;
}

.persona.invert {
  color: black;
}

.persona.btn {
  margin: 10px 40px;
}

.persona svg {
  position: absolute;
  overflow: visible;
  top: 6px;
  z-index: -1;
}

.persona.black {
  padding: 8px;
  line-height: 2rem;
}

.persona .invert {
  display: inherit;
  transform: rotate(-5deg);
  color: white;
}

.persona:not(.invert) .invert {
  color: black;
}

.persona.bg .invert {
  background-color: black;
  color: white;
}

.persona.black .invert {
  background-color: white;
  color: black;
}

.persona .rotate {
  display: inherit;
  transform: rotate(11deg);
}

.persona.black {
  color: white;
}

.persona-background {
  position: relative;
  z-index: 1;
}

.adept {
  width: 100%;
  height: 100%;
}

#block-buttons {
  position: fixed;
  right: 100px;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  perspective: 1000px;
}

.force-landscape {
  z-index: 10000;
  background-color: #000000d1;
}

.regular-content {
  padding: 40px;
}

#test {
  display: flex;
}

nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 1000;
}
nav a {
  color: white;
  line-height: 2.2rem;
  margin-bottom: 40px;
  max-width: 240px;
  text-align: center;
  pointer-events: initial;
}
nav a:hover {
  text-decoration: none;
  color: white;
}
nav * {
  position: relative;
  z-index: 100;
}
nav .nav__bg {
  position: absolute;
  top: 0;
  right: -10%;
  height: 100vh;
  width: 50%;
  background-color: white;
  transform: skewX(-6deg);
  z-index: 2;
}
nav .nav__bg-black {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  position: relative;
  transform: skewX(-2deg);
  left: 3%;
}
nav .nav__page-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #f123c9;
  opacity: 0.9;
  z-index: 1;
}
nav .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 36%;
  height: 100%;
  text-align: right;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.8rem;
  text-transform: uppercase;
  text-shadow: 6px 6px 0px black, -6px -6px 0px black, -6px 6px 0px black, 6px -6px 0px black, 6px 0px 0px black, -6px 0px 0px black, 0px -6px 0px black, 0px 6px 0px black;
}
@media (max-width: 575px) {
  nav .items {
    margin-right: 15%;
  }
}
nav .items a:first-of-type {
  right: 40px;
}
nav .items a:nth-of-type(2) {
  right: -8px;
}
nav .items a:nth-of-type(3) {
  right: 56px;
}
nav .items a:nth-of-type(4) {
  right: 72px;
}
nav .items a:nth-of-type(5) {
  right: -13px;
}
nav .items a:nth-of-type(6) {
  right: 40px;
}
nav .menu-active-bg {
  position: absolute;
  overflow: visible;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0.9;
  width: 399px;
  height: 133px;
  background-image: url("../html/assets/img/menu/wiggle_399_133.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: wiggler 0.5s infinite steps(17);
}
@keyframes wiggler {
  to {
    background-position: 100% 0;
  }
}
nav .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url("../html/assets/img/menu/burger.png");
  background-repeat: no-repeat;
  background-size: 900px 50px;
  background-position: bottom right;
}
nav .close-menu {
  animation: close_menu 0.8s forwards steps(17);
}
nav .open-menu {
  animation: open_menu 0.8s forwards steps(17);
}
@keyframes close_menu {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes open_menu {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}
nav .nav-content {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-center-img {
  width: 180px;
  height: 180px;
  transform-origin: 50% 100%;
  animation: wiggle_rotation 0.6s infinite steps(2);
}
@keyframes wiggle_rotation {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

#toggle-menu {
  pointer-events: initial;
}

#scene {
  position: fixed;
  z-index: 500;
}

.persona-background {
  position: relative;
}

.persona-background-fill {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
}

.bg-flash {
  padding-left: 100px;
}

.dialog-container {
  position: fixed;
  width: 100vw;
  height: 300px;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 500;
}

.dialog-container * {
  pointer-events: none;
}

.dialog-container a {
  pointer-events: initial;
}

.dialog-image {
  align-self: flex-end;
  max-height: 100%;
  transform-origin: 0 100%;
  flex: 0 1 300px;
}
@media (max-width: 575px) {
  .dialog-image {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -90px;
  }
}

.dialog-container img {
  width: 130%;
  position: relative;
  left: -15%;
}

.speech-bubble {
  width: 800px;
  height: 240px;
  align-self: flex-end;
  position: relative;
  bottom: -20px;
  left: -50px;
  padding: 80px 110px 80px 220px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
}
@media (max-width: 575px) {
  .speech-bubble {
    width: 390px;
    position: absolute;
    right: 0;
    left: auto;
    /* align-self: flex-end; */
    padding: 80px 30px 80px 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
  }
}

.speech-bubble p {
  margin-bottom: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 15pt;
  letter-spacing: -0.05rem;
}
@media (max-width: 575px) {
  .speech-bubble p {
    font-size: 12px;
  }
}

.speech-bubble-dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: visible;
}

.speech-bubble-svg {
  width: 800px;
  height: 240px;
}

@keyframes speech-bubble {
  to {
    background-position: 100% 0;
  }
}
.answer-container {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.answer-bg {
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 45vw;
  z-index: 1000;
}
@media (max-width: 575px) {
  .answer-bg {
    position: fixed;
    right: 0;
    width: 65vw;
  }
}

.answer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: rgba(0, 0, 0, 0.6);
}

.answer-flash {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  overflow: visible;
  height: 100vh;
  width: auto;
}

.answer-user {
  position: absolute;
  width: 130%;
  bottom: 0;
  right: -40%;
  max-height: 540px;
  object-fit: contain;
  transform-origin: 50% 100%;
  z-index: 1001;
}
@media (min-width: 768px) {
  .answer-user {
    width: 100%;
    right: -10%;
  }
}
@media (max-width: 575px) {
  .answer-user {
    width: auto;
    height: 460px;
    right: -30%;
  }
}

.answer-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  position: relative;
  right: -120px;
  margin: 0;
  height: 100%;
  font-size: 1.3rem;
  z-index: 1002;
}
@media (max-width: 575px) {
  .answer-option {
    position: absolute;
    left: 0;
    right: auto;
    font-size: 12pt;
  }
}

.answer-choice {
  position: absolute;
  top: -75%;
  left: 0;
  width: 100%;
  height: 300%;
  color: white;
  z-index: -1;
}
.answer-choice .back {
  fill: white;
}
.answer-choice .front {
  fill: black;
}

.answer-choice:hover polygon {
  left: -40px;
  color: black;
}
.answer-choice:hover polygon .back {
  fill: black;
}
.answer-choice:hover polygon .front {
  fill: white;
}

.answer-choice.back {
  fill: white;
}

.dialog-choice {
  pointer-events: none;
  position: relative;
  align-self: flex-end;
  color: white;
  height: 45px;
  margin-bottom: -10px;
}

.dialog-choice * {
  pointer-events: none;
}

.dialog-name {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  font-size: 14pt;
  top: 40px;
  left: 120px;
  transform-origin: bottom left;
  transform: rotate(-10deg);
  width: 200px;
  height: 40px;
}

.dialog-name__inner {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  color: black;
  top: 2px;
  right: 35px;
  width: 110px;
  z-index: 1;
}

.dialog-name .invert {
  position: relative;
  color: white;
  display: inline-block;
  margin: 0 3px;
}

.dialog-name .regular {
  display: inline-block;
}

.dialog-text {
  padding: 0 160px 0 90px;
}
@media (max-width: 575px) {
  .dialog-text {
    padding: 10px 70px 10px 40px;
  }
}

.dialog-button {
  display: flex;
  justify-content: space-around;
}

.dialog-inner {
  pointer-events: initial;
  transform-origin: 100% 80%;
  cursor: pointer;
}

.dialog-choice:first-of-type .dialog-inner {
  transform: rotate(6deg);
}

.dialog-choice:nth-of-type(2) .dialog-inner {
  transform: rotate(0);
}

.dialog-choice:nth-of-type(3) .dialog-inner {
  transform: rotate(-6deg);
}

.dialog-inner:hover {
  color: black;
}

.dialog-inner:hover svg polygon:first-of-type {
  fill: black;
}

.dialog-inner:hover svg polygon:nth-of-type(2) {
  fill: white;
}

#test-shape {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.svg-parent {
  position: relative;
}

.svg-parent * {
  position: absolute;
}

.answer-arrow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.flash {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.flash-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.flash-speech-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 200px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.flash-speech {
  width: 400px;
  height: 150px;
}

.flash-text {
  position: absolute;
  color: white;
  padding: 3px 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 15pt;
  letter-spacing: -0.05rem;
  width: 400px;
}

.top-8 {
  top: 8px !important;
}

.chat-container {
  position: fixed;
  height: 107vh;
  width: 50vw;
  bottom: 0;
  left: 200px;
  display: flex;
  z-index: 500;
}
@media (max-width: 575px) {
  .chat-container {
    left: 0;
    width: 100vw;
  }
}
@media (min-width: 576px) {
  .chat-container {
    width: 80vw;
    left: 0;
  }
}
@media (min-width: 992px) {
  .chat-container {
    width: 50vw;
    left: 200px;
  }
}

.mobile-frame {
  pointer-events: none;
  position: relative;
  bottom: -7px;
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  .mobile-frame {
    display: none;
  }
}

.chat-screen {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 10%;
  width: 79%;
  height: 86%;
  background-color: #f123c9;
  z-index: -1;
}
@media (max-width: 575px) {
  .chat-screen {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.chat-content {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 575px) {
  .chat-content {
    left: -30px;
  }
}

.chat-answer {
  position: relative;
  min-width: 310px;
  min-height: 200px;
  padding: 45px 48px 28px 55px;
  line-height: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
}

.avatar-reverse {
  left: -60px;
}
@media (max-width: 575px) {
  .avatar-reverse {
    left: -135px;
  }
}

.avatar-reverse .message-text p {
  padding-right: 70px;
  padding-left: 20px;
  left: auto;
}

.avatar-img * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  transform-origin: 50% 80%;
}

.avatar-img {
  position: relative;
  width: 100px;
  height: auto;
  flex: 0 0 100px;
}

.message-text {
  position: relative;
  flex: 1 1 auto;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-text .shape-parent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.message-text p {
  position: relative;
  left: 60px;
  top: 5px;
  padding-right: 70px;
}

.answer-bubble {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.chat-answer .dialog-choice {
  color: black;
  cursor: pointer;
  padding: 5px 4px;
  height: auto;
  margin-bottom: 10px;
}

.chat-answer .dialog-choice polygon {
  display: none;
  fill: #5bd7ff;
}

.answer-p {
  position: relative;
  color: black;
  margin-bottom: 0;
  z-index: 10;
}

.chat-answer .dialog-choice:hover polygon {
  display: block;
}
.chat-answer .dialog-choice:hover .answer-p {
  color: white;
}

.answer-out {
  position: relative;
  bottom: 15px;
  right: 10px;
  padding: 10px 80px 1px 21px;
}

.dots-container {
  position: absolute;
  width: 60px;
  bottom: -50px;
  left: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dots-single {
  height: 8px;
}

.shape-parent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.persona-button {
  position: relative;
  z-index: 1;
}

.persona-button input {
  margin-bottom: 0;
}

.portfolio-container {
  position: relative;
  height: 100vh;
  width: 120vh;
  margin: 0 auto;
}

.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 7% 9% 6% 5%;
}
@media (max-width: 575px) {
  .portfolio {
    padding: 0;
  }
}

.portfolio-frame {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../img/portfolio/iPad-background.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

.portfolio__apps {
  position: relative;
  display: flex;
  padding: 30px 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .portfolio__apps {
    padding-top: 120px;
  }
}

.app {
  position: relative;
  flex: 0 1 150px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 575px) {
  .app {
    flex: 1 1 110px;
  }
}

.app-image {
  width: 100%;
  min-height: 100px;
  object-fit: contain;
}

.app-name {
  color: white;
  width: 100%;
  left: 0;
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.iPad {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 100;
}
@media (max-width: 575px) {
  .iPad {
    display: none;
  }
}

.portrait-mode .portfolio-container {
  width: 83vh;
}
.portrait-mode iPad {
  transform: rotate(90deg);
}

.image-preview {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 10px 0 30px;
  justify-content: space-between;
}

.image-preview__img {
  position: relative;
  align-self: flex-start;
  flex: 0 0 80px;
  margin: 8px;
  overflow: hidden;
  transition: transform 0.5s ease-out;
}

.image-preview__img:hover img {
  transform: translateX(-50%) scale(1.05);
  filter: grayscale(0);
}

.image-preview__img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  filter: grayscale(1);
  transition: all 0.5s ease-out;
}

.home-button {
  cursor: pointer;
  position: absolute;
  right: 4%;
  top: 46%;
  height: 8%;
  width: 5.5%;
  border-radius: 50%;
  z-index: 101;
}

.full-screen-image {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.image-full {
  position: relative;
  display: inline-block;
  height: 100%;
  z-index: 500;
}

.full-img-bg {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.86);
  z-index: 100;
}

.close-button {
  position: absolute;
  right: 100px;
  top: 20px;
  z-index: 600;
}
@media (max-width: 575px) {
  .close-button {
    left: 20px;
    right: auto;
  }
}

.ui-icon {
  width: 30px;
}

.arrow-button,
.arrow-left-button {
  position: absolute;
  top: calc(50% - 65px);
  height: 200px;
  width: 80px;
  display: flex;
  justify-content: center;
  z-index: 600;
}

.arrow-button {
  right: 100px;
}
@media (max-width: 575px) {
  .arrow-button {
    right: 0;
  }
}

.arrow-left-button {
  left: 100px;
}
@media (max-width: 575px) {
  .arrow-left-button {
    left: 0;
  }
}

.arrow-left-button .ui-icon {
  transform: scaleX(-1);
}

.dom-image {
  width: 100%;
  height: 120px;
  background-color: white;
}

#portfolio-full {
  display: flex;
}

.portfolio-full {
  position: relative;
  height: 100%;
  object-fit: contain;
  z-index: 200;
}
@media (max-width: 575px) {
  .portfolio-full {
    width: 100%;
  }
}

.portfolio-full-image {
  height: 100%;
  width: auto;
  z-index: 500;
}
@media (max-width: 575px) {
  .portfolio-full-image {
    width: 100vw;
  }
}

.portrait-mode .portfolio-container {
  width: 100vw;
}

.contact-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.calling-card {
  position: relative;
  background-image: url("../html/assets/img/contact/contact-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 158vh;
  padding: 7% 10% 8% 7%;
}
@media (min-width: 768px) {
  .calling-card {
    padding-right: 15%;
  }
}
@media (min-width: 992px) {
  .calling-card {
    width: 800px;
    height: 563px;
    padding: 60px 110px 60px 60px;
  }
}
@media (max-width: 575px) {
  .calling-card {
    background-size: cover;
    background-position: center;
    padding: 90px 20px;
  }
}

.calling-card-error-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../html/assets/img/contact/contact-background-clean.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.calling-card__headline {
  background-image: url("../html/assets/img/contact/spucks-aus.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
}

.calling-card__content {
  top: 0;
  left: 0;
}

.contact-form {
  display: flex;
}
@media (max-width: 575px) {
  .contact-form {
    flex-direction: column;
  }
}

.input-container {
  flex: 1 1 auto;
  padding: 0 50px 0 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12pt;
}

.contact-form input {
  height: 40px;
}

.contact-form textarea {
  height: 150px;
}

.wrap-input {
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
}

.form-btn {
  align-self: flex-end;
}

.contact-submit {
  background: url("../html/assets/img/contact/los.png") no-repeat center;
  background-size: contain;
  color: transparent;
  width: 100px !important;
  height: 60px !important;
}
.contact-submit:hover {
  color: transparent;
}

.scooter.scooter.scooter {
  width: 300px;
  transform-origin: 60% 50%;
}

.letter-path {
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.error-content {
  display: none;
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.error-text {
  padding-top: 80px;
  align-self: center;
}

.validation-error {
  position: absolute;
  bottom: -30px;
  background: #f1235c;
  color: white;
  padding: 4px 10px;
  width: 100%;
  font-size: 15pt;
  z-index: 1;
}

.z-1 {
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
