body {
  min-width: 100vw;
  min-height: 100vh;
  background-position: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.hidden {
  visibility: hidden;
}

.overflow-visible {
  overflow: visible;
}
.pink {
  background-color: $pink;
}

#content {
  width: 100%;
  min-height: 100%;
}

section {
  width: 100vw;
}

.full-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mirror {
  transform: scaleX(-1);
}

.bg-mothersday {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/mothersday.jpg");
  //background-image: url("../dist/assets/img/Bildschirmfoto 2019-10-30 um 23.33.17.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //background-size: 150% 150%;
}

.path {
  position: absolute;
  top: 0;
  right: 0;
  //background: linear-gradient(90deg, transparent 65%, rgba(0,0,0,1) 65%)

}

.background-svg {
  position: absolute;
  overflow: visible;
  top: 0;
  right: 0;
  z-index: -1;
}

.path svg path {
  //transform: translateX(330px);
}

.path-image {
  position: absolute;
  top: 0;
  right: 100px;
  //background-color: deeppink;
}

.path-image img {
  height: 400px;
  max-width: 100%;
  max-height: 90vh;
}

.bg-image {
  position: absolute;
  top: -6%;
  left: -9%;
  width: 117%;
  height: 112%;
  background-color: white;
  z-index: -1;
  transform: skew(-1deg, -3deg) rotate(1deg);
}

.bg-image:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 3%;
  width: 94%;
  height: 96%;
  /* display: table-cell; */
  background-color: black;
  z-index: -2;
  transform: skew(2deg, 4deg);
}

.path-image__content {
  opacity: 0;
  transform: scale(.3);
  filter: contrast(3);

}

.path-image.in {
  .path-image__content {
    animation: image-in 0.5s forwards cubic-bezier(0.29, 1.43, 0.6, 0.96);
  }
}
@keyframes image-in {
  to {
    opacity: 1;
    transform: scale(1);
    filter: contrast(1);
  }
}


.persona {
  position: relative;
  align-self: flex-start;
  font-size: 2rem;
  font-family: $cartoon;
  font-weight: bold;
  display: inline-flex;
  text-transform: uppercase;
  color: #fff;
  //text-shadow: 6px 6px 0px black, -6px -6px 0px black, -6px 6px 0px black, 6px -6px 0px black, 6px 0px 0px black, -6px 0px 0px black, 0px -6px 0px black, 0px 6px 0px black;
}

.persona.invert {
  color: black;
}

.persona.btn {
  margin: 10px 40px;
}

.persona svg {
  position: absolute;
  overflow: visible;
  top: 6px;
  //left: -1px;
  z-index: -1;
}

.persona.black {
  // Du wirst duch wiggle ersetzt
  //background-color: black;
  padding: 8px;
  line-height: 2rem;
}

.persona .invert {
  display: inherit;
  transform: rotate(-5deg);
  color: white;
}

.persona:not(.invert) .invert {
  color: black;
}



.persona.bg .invert {
  background-color: black;
  color: white;
}

.persona.black .invert {
  background-color: white;
  color: black;
}



.persona .rotate {
  display: inherit;
  transform: rotate(11deg);
}

.persona.black {
  color: white;
}

.persona-background {
  position: relative;
  z-index: 1;
  //display: inline-flex;
  //align-self: flex-start;
}

.adept {
  width: 100%;
  height: 100%;
}

//.regular {
//  min-width: 18px;
//}

#block-buttons {
  position: fixed;
  right: 100px;
  top: 0;
  //width: 20px;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  perspective: 1000px;
}

.force-landscape {
  z-index: 10000;
  background-color: #000000d1;
}

.regular-content {
  padding: 40px;
}

#test {
  display: flex;
}
